In [1]:
import sys
import pandas as pd
import numpy as np
import sklearn
from sklearn import *
import matplotlib
import matplotlib.pyplot as plt
import tensorflow as tf
import keras

%matplotlib inline

print("python:", sys.version,
"\npandas:", pd.__version__,
"\nnumpy:", np.__version__,
"\nscikit learn:", sklearn.__version__,
"\nmatplotlib", matplotlib.__version__,
"\ntensorflow:", tf.__version__,
"\nkeras:", keras.__version__)

/Users/abulbasar/anaconda3/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)
/Users/abulbasar/anaconda3/lib/python3.6/site-packages/sklearn/grid_search.py:42: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. This module will be removed in 0.20.
  DeprecationWarning)
/Users/abulbasar/anaconda3/lib/python3.6/site-packages/sklearn/learning_curve.py:22: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the functions are moved. This module will be removed in 0.20
  DeprecationWarning)
/Users/abulbasar/anaconda3/lib/python3.6/site-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters

python: 3.6.4 |Anaconda, Inc.| (default, Jan 16 2018, 12:04:33)
[GCC 4.2.1 Compatible Clang 4.0.1 (tags/RELEASE_401/final)]
pandas: 0.22.0
numpy: 1.14.2
scikit learn: 0.19.1
matplotlib 2.1.2
tensorflow: 1.6.0
keras: 2.1.5

Using TensorFlow backend.

In [2]:
df = pd.read_csv("/data/insurance.csv")
df.head()

   age  gender     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [3]:
type(df)

pandas.core.frame.DataFrame

In [5]:
rows, columns = df.shape
rows, columns

(1338, 7)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
age         1338 non-null int64
gender      1338 non-null object
bmi         1338 non-null float64
children    1338 non-null int64
smoker      1338 non-null object
region      1338 non-null object
charges     1338 non-null float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.2+ KB

In [8]:
dict(df.dtypes)

{'age': dtype('int64'),
 'bmi': dtype('float64'),
 'charges': dtype('float64'),
 'children': dtype('int64'),
 'gender': dtype('O'),
 'region': dtype('O'),
 'smoker': dtype('O')}

# Commons tasks dataframe


1. shape of the dataframe
2. subset .. by column names, or row names or by index
3. filter 
4. sorting 
5. Grouping 
6. merging 
7. enriching .. adding new column

In [10]:
df.head()

   age  gender     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [11]:
df.head(10)

   age  gender     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520
5   31  female  25.740         0     no  southeast   3756.62160
6   46  female  33.440         1     no  southeast   8240.58960
7   37  female  27.740         3     no  northwest   7281.50560
8   37    male  29.830         2     no  northeast   6406.41070
9   60  female  25.840         0     no  northwest  28923.13692

In [12]:
df.tail()

      age  gender    bmi  children smoker     region     charges
1333   50    male  30.97         3     no  northwest  10600.5483
1334   18  female  31.92         0     no  northeast   2205.9808
1335   18  female  36.85         0     no  southeast   1629.8335
1336   21  female  25.80         0     no  southwest   2007.9450
1337   61  female  29.07         0    yes  northwest  29141.3603

In [13]:
df.age

0       19
1       18
2       28
3       33
4       32
5       31
6       46
7       37
8       37
9       60
10      25
11      62
12      23
13      56
14      27
15      19
16      52
17      23
18      56
19      30
20      60
21      30
22      18
23      34
24      37
25      59
26      63
27      55
28      23
29      31
        ..
1308    25
1309    41
1310    42
1311    33
1312    34
1313    19
1314    30
1315    18
1316    19
1317    18
1318    35
1319    39
1320    31
1321    62
1322    62
1323    42
1324    31
1325    61
1326    42
1327    51
1328    23
1329    52
1330    57
1331    23
1332    52
1333    50
1334    18
1335    18
1336    21
1337    61
Name: age, Length: 1338, dtype: int64

In [14]:
df.iloc[5:10, :]

   age  gender    bmi  children smoker     region      charges
5   31  female  25.74         0     no  southeast   3756.62160
6   46  female  33.44         1     no  southeast   8240.58960
7   37  female  27.74         3     no  northwest   7281.50560
8   37    male  29.83         2     no  northeast   6406.41070
9   60  female  25.84         0     no  northwest  28923.13692

In [15]:
df.iloc[5:10, :3]

   age  gender    bmi
5   31  female  25.74
6   46  female  33.44
7   37  female  27.74
8   37    male  29.83
9   60  female  25.84

In [16]:
df.iloc[[4, 10, 4, 5], :3]

    age  gender    bmi
4    32    male  28.88
10   25    male  26.22
4    32    male  28.88
5    31  female  25.74

In [17]:
df[["age", "gender", "bmi"]]

      age  gender     bmi
0      19  female  27.900
1      18    male  33.770
2      28    male  33.000
3      33    male  22.705
4      32    male  28.880
5      31  female  25.740
6      46  female  33.440
7      37  female  27.740
8      37    male  29.830
9      60  female  25.840
10     25    male  26.220
11     62  female  26.290
12     23    male  34.400
13     56  female  39.820
14     27    male  42.130
15     19    male  24.600
16     52  female  30.780
17     23    male  23.845
18     56    male  40.300
19     30    male  35.300
20     60  female  36.005
21     30  female  32.400
22     18    male  34.100
23     34  female  31.920
24     37    male  28.025
25     59  female  27.720
26     63  female  23.085
27     55  female  32.775
28     23    male  17.385
29     31    male  36.300
...   ...     ...     ...
1308   25  female  30.200
1309   41    male  32.200
1310   42    male  26.315
1311   33  female  26.695
1312   34    male  42.900
1313   19  female  34.700
1314   30  female  23.655
1315   18    male  28.310
1316   19  female  20.600
1317   18    male  53.130
1318   35    male  39.710
1319   39  female  26.315
1320   31    male  31.065
1321   62    male  26.695
1322   62    male  38.830
1323   42  female  40.370
1324   31    male  25.935
1325   61    male  33.535
1326   42  female  32.870
1327   51    male  30.030
1328   23  female  24.225
1329   52    male  38.600
1330   57  female  25.740
1331   23  female  33.400
1332   52  female  44.700
1333   50    male  30.970
1334   18  female  31.920
1335   18  female  36.850
1336   21  female  25.800
1337   61  female  29.070

[1338 rows x 3 columns]

In [18]:
df.loc[4:10, ["age", "gender", "bmi"]]

    age  gender    bmi
4    32    male  28.88
5    31  female  25.74
6    46  female  33.44
7    37  female  27.74
8    37    male  29.83
9    60  female  25.84
10   25    male  26.22

In [20]:
df[df.gender == "male"]

      age gender     bmi  children smoker     region      charges
1      18   male  33.770         1     no  southeast   1725.55230
2      28   male  33.000         3     no  southeast   4449.46200
3      33   male  22.705         0     no  northwest  21984.47061
4      32   male  28.880         0     no  northwest   3866.85520
8      37   male  29.830         2     no  northeast   6406.41070
10     25   male  26.220         0     no  northeast   2721.32080
12     23   male  34.400         0     no  southwest   1826.84300
14     27   male  42.130         0    yes  southeast  39611.75770
15     19   male  24.600         1     no  southwest   1837.23700
17     23   male  23.845         0     no  northeast   2395.17155
18     56   male  40.300         0     no  southwest  10602.38500
19     30   male  35.300         0    yes  southwest  36837.46700
22     18   male  34.100         0     no  southeast   1137.01100
24     37   male  28.025         2     no  northwest   6203.90175
28     23   male  17.385         1     no  northwest   2775.19215
29     31   male  36.300         2    yes  southwest  38711.00000
30     22   male  35.600         0    yes  southwest  35585.57600
33     63   male  28.310         0     no  northwest  13770.09790
34     28   male  36.400         1    yes  southwest  51194.55914
35     19   male  20.425         0     no  northwest   1625.43375
37     26   male  20.800         0     no  southwest   2302.30000
38     35   male  36.670         1    yes  northeast  39774.27630
39     60   male  39.900         0    yes  southwest  48173.36100
42     41   male  21.780         1     no  southeast   6272.47720
44     38   male  37.050         1     no  northeast   6079.67150
45     55   male  37.300         0     no  southwest  20630.28351
49     36   male  35.200         1    yes  southeast  38709.17600
52     48   male  28.000         1    yes  southwest  23568.27200
53     36   male  34.430         0    yes  southeast  37742.57570
55     58   male  36.955         2    yes  northwest  47496.49445
...   ...    ...     ...       ...    ...        ...          ...
1283   18   male  30.030         1     no  southeast   1720.35370
1284   61   male  36.300         1    yes  southwest  47403.88000
1288   20   male  39.400         2    yes  southwest  38344.56600
1289   44   male  34.320         1     no  southeast   7147.47280
1291   19   male  34.900         0    yes  southwest  34828.65400
1292   21   male  23.210         0     no  southeast   1515.34490
1293   46   male  25.745         3     no  northwest   9301.89355
1294   58   male  25.175         0     no  northeast  11931.12525
1295   20   male  22.000         1     no  southwest   1964.78000
1296   18   male  26.125         0     no  northeast   1708.92575
1298   33   male  27.455         2     no  northwest   5261.46945
1300   45   male  30.360         0    yes  southeast  62592.87309
1301   62   male  30.875         3    yes  northwest  46718.16325
1303   43   male  27.800         0    yes  southwest  37829.72420
1304   42   male  24.605         2    yes  northeast  21259.37795
1307   32   male  28.120         4    yes  northwest  21472.47880
1309   41   male  32.200         2     no  southwest   6875.96100
1310   42   male  26.315         1     no  northwest   6940.90985
1312   34   male  42.900         1     no  southwest   4536.25900
1315   18   male  28.310         1     no  northeast  11272.33139
1317   18   male  53.130         0     no  southeast   1163.46270
1318   35   male  39.710         4     no  northeast  19496.71917
1320   31   male  31.065         3     no  northwest   5425.02335
1321   62   male  26.695         0    yes  northeast  28101.33305
1322   62   male  38.830         0     no  southeast  12981.34570
1324   31   male  25.935         1     no  northwest   4239.89265
1325   61   male  33.535         0     no  northeast  13143.33665
1327   51   male  30.030         1     no  southeast   9377.90470
1329   52   male  38.600         2     no  southwest  10325.20600
1333   50   male  30.970         3     no  northwest  10600.54830

[676 rows x 7 columns]

In [21]:
df.query("gender == 'male'")

      age gender     bmi  children smoker     region      charges
1      18   male  33.770         1     no  southeast   1725.55230
2      28   male  33.000         3     no  southeast   4449.46200
3      33   male  22.705         0     no  northwest  21984.47061
4      32   male  28.880         0     no  northwest   3866.85520
8      37   male  29.830         2     no  northeast   6406.41070
10     25   male  26.220         0     no  northeast   2721.32080
12     23   male  34.400         0     no  southwest   1826.84300
14     27   male  42.130         0    yes  southeast  39611.75770
15     19   male  24.600         1     no  southwest   1837.23700
17     23   male  23.845         0     no  northeast   2395.17155
18     56   male  40.300         0     no  southwest  10602.38500
19     30   male  35.300         0    yes  southwest  36837.46700
22     18   male  34.100         0     no  southeast   1137.01100
24     37   male  28.025         2     no  northwest   6203.90175
28     23   male  17.385         1     no  northwest   2775.19215
29     31   male  36.300         2    yes  southwest  38711.00000
30     22   male  35.600         0    yes  southwest  35585.57600
33     63   male  28.310         0     no  northwest  13770.09790
34     28   male  36.400         1    yes  southwest  51194.55914
35     19   male  20.425         0     no  northwest   1625.43375
37     26   male  20.800         0     no  southwest   2302.30000
38     35   male  36.670         1    yes  northeast  39774.27630
39     60   male  39.900         0    yes  southwest  48173.36100
42     41   male  21.780         1     no  southeast   6272.47720
44     38   male  37.050         1     no  northeast   6079.67150
45     55   male  37.300         0     no  southwest  20630.28351
49     36   male  35.200         1    yes  southeast  38709.17600
52     48   male  28.000         1    yes  southwest  23568.27200
53     36   male  34.430         0    yes  southeast  37742.57570
55     58   male  36.955         2    yes  northwest  47496.49445
...   ...    ...     ...       ...    ...        ...          ...
1283   18   male  30.030         1     no  southeast   1720.35370
1284   61   male  36.300         1    yes  southwest  47403.88000
1288   20   male  39.400         2    yes  southwest  38344.56600
1289   44   male  34.320         1     no  southeast   7147.47280
1291   19   male  34.900         0    yes  southwest  34828.65400
1292   21   male  23.210         0     no  southeast   1515.34490
1293   46   male  25.745         3     no  northwest   9301.89355
1294   58   male  25.175         0     no  northeast  11931.12525
1295   20   male  22.000         1     no  southwest   1964.78000
1296   18   male  26.125         0     no  northeast   1708.92575
1298   33   male  27.455         2     no  northwest   5261.46945
1300   45   male  30.360         0    yes  southeast  62592.87309
1301   62   male  30.875         3    yes  northwest  46718.16325
1303   43   male  27.800         0    yes  southwest  37829.72420
1304   42   male  24.605         2    yes  northeast  21259.37795
1307   32   male  28.120         4    yes  northwest  21472.47880
1309   41   male  32.200         2     no  southwest   6875.96100
1310   42   male  26.315         1     no  northwest   6940.90985
1312   34   male  42.900         1     no  southwest   4536.25900
1315   18   male  28.310         1     no  northeast  11272.33139
1317   18   male  53.130         0     no  southeast   1163.46270
1318   35   male  39.710         4     no  northeast  19496.71917
1320   31   male  31.065         3     no  northwest   5425.02335
1321   62   male  26.695         0    yes  northeast  28101.33305
1322   62   male  38.830         0     no  southeast  12981.34570
1324   31   male  25.935         1     no  northwest   4239.89265
1325   61   male  33.535         0     no  northeast  13143.33665
1327   51   male  30.030         1     no  southeast   9377.90470
1329   52   male  38.600         2     no  southwest  10325.20600
1333   50   male  30.970         3     no  northwest  10600.54830

[676 rows x 7 columns]

In [23]:
df[(df.gender == "male") & (df.smoker != "yes")]

      age gender     bmi  children smoker     region      charges
1      18   male  33.770         1     no  southeast   1725.55230
2      28   male  33.000         3     no  southeast   4449.46200
3      33   male  22.705         0     no  northwest  21984.47061
4      32   male  28.880         0     no  northwest   3866.85520
8      37   male  29.830         2     no  northeast   6406.41070
10     25   male  26.220         0     no  northeast   2721.32080
12     23   male  34.400         0     no  southwest   1826.84300
15     19   male  24.600         1     no  southwest   1837.23700
17     23   male  23.845         0     no  northeast   2395.17155
18     56   male  40.300         0     no  southwest  10602.38500
22     18   male  34.100         0     no  southeast   1137.01100
24     37   male  28.025         2     no  northwest   6203.90175
28     23   male  17.385         1     no  northwest   2775.19215
33     63   male  28.310         0     no  northwest  13770.09790
35     19   male  20.425         0     no  northwest   1625.43375
37     26   male  20.800         0     no  southwest   2302.30000
42     41   male  21.780         1     no  southeast   6272.47720
44     38   male  37.050         1     no  northeast   6079.67150
45     55   male  37.300         0     no  southwest  20630.28351
60     43   male  27.360         3     no  northeast   8606.21740
61     25   male  33.660         4     no  southeast   4504.66240
62     64   male  24.700         1     no  northwest  30166.61817
67     40   male  26.315         1     no  northwest   6389.37785
71     31   male  28.500         5     no  northeast   6799.45800
73     58   male  32.010         1     no  southeast  11946.62590
74     44   male  27.400         2     no  southwest   7726.85400
75     57   male  34.010         0     no  northwest  11356.66090
77     21   male  35.530         0     no  southeast   1532.46970
80     31   male  26.885         1     no  northeast   4441.21315
93     35   male  34.770         2     no  northwest   5729.00530
...   ...    ...     ...       ...    ...        ...          ...
1247   33   male  29.400         4     no  southwest   6059.17300
1251   19   male  19.800         0     no  southwest   1241.56500
1258   55   male  37.715         3     no  northwest  30063.58055
1261   28   male  37.100         1     no  southwest   3277.16100
1269   45   male  27.500         3     no  southwest   8615.30000
1270   26   male  33.915         1     no  northwest   3292.52985
1272   43   male  25.520         5     no  southeast  14478.33015
1273   35   male  27.610         1     no  southeast   4747.05290
1275   57   male  23.700         0     no  southwest  10959.33000
1283   18   male  30.030         1     no  southeast   1720.35370
1289   44   male  34.320         1     no  southeast   7147.47280
1292   21   male  23.210         0     no  southeast   1515.34490
1293   46   male  25.745         3     no  northwest   9301.89355
1294   58   male  25.175         0     no  northeast  11931.12525
1295   20   male  22.000         1     no  southwest   1964.78000
1296   18   male  26.125         0     no  northeast   1708.92575
1298   33   male  27.455         2     no  northwest   5261.46945
1309   41   male  32.200         2     no  southwest   6875.96100
1310   42   male  26.315         1     no  northwest   6940.90985
1312   34   male  42.900         1     no  southwest   4536.25900
1315   18   male  28.310         1     no  northeast  11272.33139
1317   18   male  53.130         0     no  southeast   1163.46270
1318   35   male  39.710         4     no  northeast  19496.71917
1320   31   male  31.065         3     no  northwest   5425.02335
1322   62   male  38.830         0     no  southeast  12981.34570
1324   31   male  25.935         1     no  northwest   4239.89265
1325   61   male  33.535         0     no  northeast  13143.33665
1327   51   male  30.030         1     no  southeast   9377.90470
1329   52   male  38.600         2     no  southwest  10325.20600
1333   50   male  30.970         3     no  northwest  10600.54830

[517 rows x 7 columns]

In [25]:
df.sort_values("age")

      age  gender     bmi  children smoker     region      charges
1248   18  female  39.820         0     no  southeast   1633.96180
482    18  female  31.350         0     no  southeast   1622.18850
492    18  female  25.080         0     no  northeast   2196.47320
525    18  female  33.880         0     no  southeast  11482.63485
529    18    male  25.460         0     no  northeast   1708.00140
564    18  female  32.120         2     no  southeast   2801.25880
571    18  female  37.290         1     no  southeast   2219.44510
612    18  female  33.155         0     no  northeast   2207.69745
623    18    male  33.535         0    yes  northeast  34617.84065
1283   18    male  30.030         1     no  southeast   1720.35370
57     18    male  31.680         2    yes  southeast  34303.16720
648    18    male  28.500         0     no  northeast   1712.22700
663    18    male  33.660         0     no  southeast   1136.39940
1282   18  female  21.660         0    yes  northeast  14283.45940
710    18    male  35.200         1     no  southeast   1727.54000
50     18  female  35.625         0     no  northeast   2211.13075
728    18  female  40.280         0     no  northeast   2217.60120
759    18    male  38.170         0    yes  southeast  36307.79830
1296   18    male  26.125         0     no  northeast   1708.92575
471    18  female  30.115         0     no  northeast   2203.47185
469    18  female  24.090         1     no  southeast   2201.09710
442    18    male  43.010         0     no  southeast   1149.39590
157    18    male  25.175         0    yes  northeast  15518.18025
161    18  female  36.850         0    yes  southeast  36149.48350
172    18    male  15.960         0     no  northeast   1694.79640
181    18  female  38.280         0     no  southeast   1631.82120
121    18    male  23.750         0     no  northeast   1705.62450
194    18    male  34.430         0     no  southeast   1137.46970
236    18  female  26.730         0     no  southeast   1615.76670
250    18    male  17.290         2    yes  northeast  12829.45510
...   ...     ...     ...       ...    ...        ...          ...
343    63    male  36.765         0     no  northeast  13981.85035
1236   63  female  21.660         0     no  northeast  14449.85440
830    63    male  33.100         0     no  southwest  13393.75600
550    63    male  30.800         0     no  southwest  13390.55900
542    63  female  36.300         0     no  southeast  13887.20400
419    63  female  26.980         0    yes  northwest  28950.46920
908    63    male  39.800         3     no  southwest  15170.06900
480    63    male  41.325         3     no  northwest  15555.18875
603    64  female  39.050         3     no  southeast  16085.12750
752    64    male  37.905         0     no  northwest  14210.53595
768    64  female  39.700         0     no  southwest  14319.03100
62     64    male  24.700         1     no  northwest  30166.61817
94     64  female  31.300         2    yes  southwest  47291.05500
534    64    male  40.480         0     no  southeast  13831.11520
1241   64    male  36.960         2    yes  southeast  49577.66240
801    64  female  35.970         0     no  southeast  14313.84630
825    64  female  31.825         2     no  northeast  16069.08475
664    64  female  22.990         0    yes  southeast  27037.91410
1051   64    male  26.410         0     no  northeast  14394.55790
890    64  female  26.885         0    yes  northwest  29330.98315
199    64  female  39.330         0     no  northeast  14901.51670
420    64    male  33.880         0    yes  southeast  46889.26120
418    64    male  39.160         1     no  southeast  14418.28040
328    64  female  33.800         1    yes  southwest  47928.03000
402    64  female  32.965         0     no  northwest  14692.66935
398    64    male  25.600         2     no  southwest  14988.43200
335    64    male  34.500         0     no  southwest  13822.80300
378    64  female  30.115         3     no  northwest  16455.70785
1265   64    male  23.760         0    yes  southeast  26926.51440
635    64    male  38.190         0     no  northeast  14410.93210

[1338 rows x 7 columns]

In [27]:
df.sort_values(["age", "bmi"], ascending=[True, False])

      age  gender     bmi  children smoker     region      charges
1317   18    male  53.130         0     no  southeast   1163.46270
442    18    male  43.010         0     no  southeast   1149.39590
803    18  female  42.240         0    yes  southeast  38792.68560
781    18    male  41.140         0     no  southeast   1146.79660
728    18  female  40.280         0     no  northeast   2217.60120
898    18  female  40.260         0     no  southeast   1634.57340
942    18  female  40.185         0     no  northeast   2217.46915
1248   18  female  39.820         0     no  southeast   1633.96180
600    18  female  39.160         0     no  southeast   1633.04440
1215   18    male  39.140         0     no  northeast  12890.05765
46     18  female  38.665         2     no  northeast   3393.35635
181    18  female  38.280         0     no  southeast   1631.82120
354    18  female  38.280         0     no  southeast  14133.03775
399    18  female  38.170         0     no  southeast   1631.66830
759    18    male  38.170         0    yes  southeast  36307.79830
571    18  female  37.290         1     no  southeast   2219.44510
866    18    male  37.290         0     no  southeast   1141.44510
161    18  female  36.850         0    yes  southeast  36149.48350
1335   18  female  36.850         0     no  southeast   1629.83350
50     18  female  35.625         0     no  northeast   2211.13075
710    18    male  35.200         1     no  southeast   1727.54000
194    18    male  34.430         0     no  southeast   1137.46970
22     18    male  34.100         0     no  southeast   1137.01100
525    18  female  33.880         0     no  southeast  11482.63485
1      18    male  33.770         1     no  southeast   1725.55230
663    18    male  33.660         0     no  southeast   1136.39940
623    18    male  33.535         0    yes  northeast  34617.84065
1244   18    male  33.330         0     no  southeast   1135.94070
612    18  female  33.155         0     no  northeast   2207.69745
564    18  female  32.120         2     no  southeast   2801.25880
...   ...     ...     ...       ...    ...        ...          ...
33     63    male  28.310         0     no  northwest  13770.09790
244    63  female  27.740         0    yes  northeast  29523.16560
419    63  female  26.980         0    yes  northwest  28950.46920
287    63  female  26.220         0     no  northwest  14256.19280
1125   63  female  25.080         0     no  northwest  14254.60820
26     63  female  23.085         0     no  northeast  14451.83515
1068   63    male  21.660         1     no  northwest  14349.85440
1236   63  female  21.660         0     no  northeast  14449.85440
534    64    male  40.480         0     no  southeast  13831.11520
768    64  female  39.700         0     no  southwest  14319.03100
199    64  female  39.330         0     no  northeast  14901.51670
418    64    male  39.160         1     no  southeast  14418.28040
603    64  female  39.050         3     no  southeast  16085.12750
635    64    male  38.190         0     no  northeast  14410.93210
752    64    male  37.905         0     no  northwest  14210.53595
1241   64    male  36.960         2    yes  southeast  49577.66240
801    64  female  35.970         0     no  southeast  14313.84630
335    64    male  34.500         0     no  southwest  13822.80300
420    64    male  33.880         0    yes  southeast  46889.26120
328    64  female  33.800         1    yes  southwest  47928.03000
402    64  female  32.965         0     no  northwest  14692.66935
825    64  female  31.825         2     no  northeast  16069.08475
94     64  female  31.300         2    yes  southwest  47291.05500
378    64  female  30.115         3     no  northwest  16455.70785
890    64  female  26.885         0    yes  northwest  29330.98315
1051   64    male  26.410         0     no  northeast  14394.55790
398    64    male  25.600         2     no  southwest  14988.43200
62     64    male  24.700         1     no  northwest  30166.61817
1265   64    male  23.760         0    yes  southeast  26926.51440
664    64  female  22.990         0    yes  southeast  27037.91410

[1338 rows x 7 columns]

In [29]:
df.groupby("gender").age.mean()

gender
female    39.503021
male      38.917160
Name: age, dtype: float64

In [31]:
agg = df.groupby("gender").age.agg([np.mean, np.min, np.max, len])
agg

             mean  amin  amax  len
gender
female  39.503021    18    64  662
male    38.917160    18    64  676

In [33]:
agg.sort_index(ascending=False)

             mean  amin  amax  len
gender
male    38.917160    18    64  676
female  39.503021    18    64  662

In [34]:
agg.reset_index()

   gender       mean  amin  amax  len
0  female  39.503021    18    64  662
1    male  38.917160    18    64  676

In [35]:
pd.merge()